import * as React from 'react';
import * as cx from 'classnames';
import * as CSSModules from 'react-css-modules';
import { connect } from 'react-redux';
import { bindActionCreators } from 'redux';

const style = require('./index.scss');

type <%= cmpName%>Props = {};
type <%= cmpName%>State = {};

export class <%= cmpName%> extends React.Component<<%= cmpName%>Props, Partial<<%= cmpName%>State>> {
  constructor(props:any, context:any) {
    super(props, context);
    this.state = {};
  }
  render() {
    return (<div></div>);
  }
}
<% if (moduleCmp) { %>
const map_state_to_props = (state:any) => {
  return {};
};

const map_dispatch_to_props = (dispatch:any) => {
  return bindActionCreators(
    {},
    dispatch,
  );
};

export let <%= cmpName%>Container = connect(
  map_state_to_props,
  map_dispatch_to_props,
)(CSSModules(<%= cmpName%>, style, { allowMultiple: true }));
<% } %>